<h1>You accessed this order page via a GET request</h1>
<p> <h5>Shipper Name : {{ output }}</h5></p>
<p> <h5>Phone :{{ output }}</h5></p>
<p> <h5>Address :{{ output }}</h5></p>
<p> <h5>Receiver Name : {{ output }}</h5></p>
<p> <h5>Phone :{{ output }}</h5></p>
<p> <h5>Address :{{ output }}</h5></p>
<p> <h5>Consignment No :{{ output }}</h5></p>
<p> <h5>Type of Shipment : {{ output }}</h5></p>
<p> <h5>Weight : {{ output }}</h5></p>
<p> <h5>Invoice no : {{ output }}</h5></p>
<p> <h5>Qnty :{{ output }}</h5></p>
<p> <h5>Total freight :{{ output }}</h5></p>
<p> <h5>Mode :	 {{ output }}</h5></p>
<p> <h5>Dept time  {{ output }}</h5></p>
<p> <h5>Destination Office: {{ output }}</h5></p>
<p> <h5>Pickup Date : {{ output }}</h5></p>
<p> <h5>Pickup Time : {{ output }}</h5></p>
<p> <h5>Status : {{ output }}</h5></p>

<p>Comments : {{ output }}</p>
<button type="submit" class="but">edit</button>
<button type="submit" class="but">delete</button>

<footer>
<address style="text-align:center">
Author:Nyayiha Kevin
Email:nyayihakevin@gmail.com
Tel:0786746170
</address>
</footer>
